@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --red:#E63946;
    --darkblue:#1D3557;
    --medblue:#457B9D;
    --skyblue:#A8DADC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

.header {
    max-width: 100%;
    margin: 0 auto;
    padding: 12px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-block: 15px;
    
    background-color: var(--darkblue);
    flex-direction: row;
    
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.home {
    margin-right: 50px;
    margin-left: 10px;
}

.home:hover {
    animation: shake 1s forwards;
}



.menu-container {
    margin-right: 30px;
}

.menu-container ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu-container .menu-item {
    color: var(--skyblue);
    font-size: 2.2rem;
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    position: relative;
}

.menu-container .menu-item::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.menu-container .menu-item:hover::after {
    transform: scaleX(1);
    color: white;
}

.menu-container .menu-item:hover {
    color: white;
    
}

#dropdown,.navbar label{
    display: none;
}

.navbar label:hover {
    transform: scale(1.2);
}

.fa-solid {
    color: white;
    font-size: 3rem;
}

main {
    height: 899px;
    /* background-color: rgb(242, 250, 250); */
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    min-width: 320px;

    /* background-image: url('/img/home-back3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 899px;
    min-width: 320px; */
}

.principal-skills {
    margin: 0 auto;
    margin-top: 100px;
    width: 60%;
    
}

.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.title-skills {
    font-size: 4rem;
    display: block;
    opacity: 0;
    animation: revealText 1.2s forwards;
}

.skill-item p {
    font-size: 1.8rem;
}

.skill-item {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skill-item:hover{
    transform: scale(1.01);
}

.barra { 
    height: 20px;
	position: relative;
	background: rgb(151, 151, 151);
	border-radius: 25px;
	
    
}

.barra .skill-html {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(229, 76, 33);
  position: absolute;
  overflow: hidden;
  animation: progHtml 2s linear forwards;
}

.barra .skill-css {
    display: block;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(21, 114, 182);
    position: absolute;
    overflow: hidden;
    animation: progCss 2s linear forwards;
}

.barra .skill-js {
    display: block;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(255, 223, 0);
    position: absolute;
    overflow: hidden;
    animation: progJs 2s linear forwards;
}

.barra .skill-C {
    display: block;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(104, 33, 122);
    position: absolute;
    overflow: hidden;
    animation: progC 2s linear forwards;
}


footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medblue);
    min-width: 320px;
}

.fa-brands {
    color: white;
    font-size: 3rem;
}

.fa-css3-alt, .fa-js-square, .fa-html5, .fa-file-code{
    color: black;
}



.footer-icons-container {
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 40px;
}

footer li:hover {
    animation: shake 1s forwards;
}

@keyframes progHtml {
    0% {width: 0%}
    100% {width: 90%}
  }
  
  @keyframes progCss {
    0% {width: 0%}
    100% {width: 80%}
  }
  
  @keyframes progJs {
    0% {width: 0%}
    100% {width: 60%}
  }
  
  @keyframes progC {
      0% {width: 0%}
      100% {width: 80%}
  }


@keyframes shake {
    10%{
        transform: rotate(15deg);
        
    }
    20%{
        transform: rotate(-15deg);
        
    }
    30%{
        transform: rotate(15deg);
        
    }
    50%{
        transform: rotate(0deg);
        
    }
}


@keyframes revealText {
    0%{
        transform: translateX(20px);
    }
    100%{
        opacity: 1; 
        transform: none;
    }
}

@media screen and (max-width: 600px){

    .menu-container{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }

    .fa-solid {
        color: white;
        font-size: 1.5rem;
    }

    .menu-container .menu-item {
       
        font-size: 1.8rem;
    }

    .principal-skills {
        margin-top: 10px;
    }

    .menu-container ul{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }
   
    #dropdown:checked ~ .menu-container{
        max-height: 100%;
    }
}
